<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="performanceCounters" type="LogglyCollector.Configuration.CounterConfiguration, LogglyCollector"/>
    <section name="eventLogs" type="LogglyCollector.Configuration.EventLogConfiguration, LogglyCollector"/>
    <section name="logFiles" type="LogglyCollector.Configuration.LogFileConfiguration, LogglyCollector"/>
  </configSections>
  <appSettings>
    <add key="inputKey" value="" />
  </appSettings>
  <performanceCounters>
    <categories>
      <category name="Processor">
        <performanceCounter name="% Processor Time" instanceName="_Total"/>
      </category>
      <category name="Memory">
        <performanceCounter name="Available Mbytes"/>
      </category>
    </categories>
  </performanceCounters>
  <eventLogs>
    <logs>
      <log name="Application" />
    </logs>
  </eventLogs>
  <logFiles>
    <files>
      <file name="C:\Users\Sam\Desktop\Test\TestFile.txt" />
    </files>
  </logFiles>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
